{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    //"@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    //"@babel/plugin-proposal-object-rest-spread",
    //"@babel/plugin-transform-exponentiation-operator",
    //"@babel/plugin-proposal-export-namespace-from",
    //"@babel/plugin-proposal-export-default-from"
  ]
}

// yultimalti@desoz.com